/*
!.gitignore

# Package meta files
!pyproject.toml
!.python-version
!uv.lock

# Dev configs
!.pre-commit-config.yaml

# Documentation
!README.md

# Adding source directory
!packages
!scripts
!test
!stubs

*egg-info
__pycache__

# Add tox.ini
!tox.ini
